.container-table{
    max-width: 70%;
    height: auto;
}

.btn-table{
    height: 25px;
    margin-left: 5px;
}

.btn-table .fa{
    position: relative;
    display: table-cell;
    width: 20px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    font-size:15px;
}

.close-button{
    margin-left: 95%;
    margin-top: -10%;
}