.container-fluid {
    margin-top: 5%;
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 20% !important;
}

.page-container{
   display: flex;
    flex-direction: column;
    min-height: 100vh;
}

content-wrap{
    flex: 1;
}